.head{
    display: flex;
    height: 100px;
}

#img1 {
    display: flex;
    margin-top: 0px;

}

body{
    height: 100vh;
    width: 100vw;
    position: relative;
    margin-top: 0px;
}

h1{
    position: ;
}
.material-icons{
    position: fixed;
    top: 10;
    left: 10;
}

.title {

}


.middle{
    display: flex;
    height: 300px;
}

.arrowBack {
    position: fixed;
    top: 10;
    left: 10;
}