.icons {
    margin: 10;
    padding: 0;
    display: flex;
    flex-direction:row;
    min-height: 11vh;
  }
  
  .icons {
    display: flex;
    justify-content:space-around;
    align-items:center;
    position: fixed; /* Keeps it fixed at the bottom */
    bottom: 0; /* Anchors to the bottom */
    left: 0;
    width: 100%; /* Spans full width of the screen */
    background-color: #f8f9fa; /* Add a background color */
    padding: 0px 0;
    border-top: 0px solid #ccc; /* Optional, for design */
  }
  
  .icons
   a {
    text-decoration: none;
    color:rgb(21, 162, 210) ; /* Adjust text color */
    font-size: 20px; /* Adjust font size */
    font-weight: bold;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .search{  
    width: max-content;
    display: flex;
    align-items: center;
  }
  .search{
    margin: auto;
  }
  
  .iconBottom {
    
  }

  svg{
    fill: black;
  }

  
